* {
  box-sizing: border-box;
}
App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header {
  display: block;
  width: 100%;
  background-color: rgb(7, 116, 125);
  text-align: center;
  color: white;
  height: 100px;
  border-radius: 6em;
  justify-content: center;
  font-size: 40px;
}
.Main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.articleCard {
  list-style-type: none;
  background-color: rgb(89, 213, 213);
  width: 270px;
  height: 200px;
  margin: 10px;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.loading {
  text-align: center;
}
.Nav {
  display: block;
  width: 100%;
  text-align: center;
  background-color: beige;
  max-width: 100%;
}
.Topics {
  padding: 20px;
  max-width: 100%;
}
.link {
  padding: 100px;
  text-transform: uppercase;
  text-align: center;
  max-width: 100%;
}
.link:visited {
  color: grey;
}
.link-header {
  display: block;
  width: 20%;
  background-color: rgb(151, 145, 246);
  text-align: center;
  color: white;
  height: 100px;
  border-radius: 6em;
  justify-content: center;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
}
.individualart {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.individual {
  list-style-type: none;
  background-color: rgb(89, 213, 213);
  width: 1425px;
  height: 50%;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
  text-align: left;
  padding: 10px;
  max-width: 100%;
}

.error-message {
  font-size: 200px;
}

.userImage {
  display: flex;
  margin: 0.6em;
  width: 10em;
  height: 10em;
}

.Users {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.usersCard {
  list-style-type: none;
  background-color: rgb(89, 213, 213);
  width: 270px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.comment {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.commentCard {
  /* list-style-type: none; */
  background-color: rgb(89, 213, 213);
  width: 1425px;
  height: 50%;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
  text-align: left;
  padding: 10px;
  max-width: 100%;
}
.allComments {
  text-align: center;
  color: white;

  font-size: 40px;
  color: black;
}
